<h2 class =  "page-header">Edit Profile</h2>

<form method = "post" action = "/">
	<div class="form-group">
		<label>Bio</label>
		<input id = "update_bio_text" type="text" class="form-control" name="bio">
	</div>
	<div class="form-group">
		<label>Change Profile Pic</label>
		<select name = "profile_pic_selector">
			<option data-img-src="/profile_pics/pic1.jpg" value="pic1.jpg">pic1</option>
			<option data-img-src="/profile_pics/pic2.jpg" value="pic2.jpg">pic2</option>
			<option data-img-src="/profile_pics/pic3.jpg" value="pic3.jpg">pic3</option>
			<option data-img-src="/profile_pics/pic4.jpg" value="pic4.jpg">pic4</option>
			<option data-img-src="/profile_pics/pic5.jpg" value="pic5.jpg">pic5</option>
			<option data-img-src="/profile_pics/pic6.jpg" value="pic6.jpg">pic6</option>
			<option data-img-src="/profile_pics/pic7.jpg" value="pic7.jpg">pic7</option>
			<option data-img-src="/profile_pics/pic8.jpg" value="pic8.jpg">pic8</option>
			<option data-img-src="/profile_pics/pic9.jpg" value="pic9.jpg">pic9</option>
			<option data-img-src="/profile_pics/pic10.jpg" value="pic10.jpg">pic10</option>
		</select>
	</div>
	
	<a href = "/" class="btn btn-danger">Cancel</a>
	<button type="submit" class="side-divide btn btn-primary">Save Changes</button>
</form>

<script>
	updateBio("{{ bio }}");
	updateProfilePic("{{ profile_pic }}");
	
	//This activates cool looking image selector
	$("select").imagepicker();
</script>
