<div id = "myCarousel" class = "carousel slide" data-ride = "carousel">
	<!-- Indicators -->
	<!--<ol id = "welcome-dots" class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>-->
	
	<div class = "joinBtnContainer">
		<a href = "/users/register" class = "btn btn-default welcomeBtn btn-lg">Sign Up</a>
		<a href = "/users/login" class = "btn btn-default welcomeBtn btn-lg">Login</a>
	</div>
	
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div id = "welcome-pic1" class="item active">
			<h1 class = "welcome-quote" id = "quote1">Speak Your Mind</h1>
		</div>

		<div id = "welcome-pic2" class="item">
			<h1 class = "welcome-quote" id = "quote2">Meet New Friends</h1>
		</div>

		<div id = "welcome-pic3" class="item">
			<h1 class = "welcome-quote" id = "quote3">Spread Your Ideas</h1>
		</div>
	</div>

	<!-- Left and right controls -->
	<a class= "car-control left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="sr-only">Previous</span>
	</a>
	<a class="car-control right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="sr-only">Next</span>
	</a>
</div>
