.profile_pic{
	height: 100px;
	width: 100px;
}

.profile_name{
	font-weight: bold;
}

.websiteTitle{
	display: inline-block;
}

.organizer{
}

.name-group{
	margin-top: 20px;
}

.footer-divider{
	margin-bottom: 60px;
}
