@font-face {
    font-family: kilogram;
    src: url("../fonts/above.ttf");
}

body{
	background-color: #F6F6F6 !important;
}

.profile_pic{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.list_pic{
	border-radius: 50%;
	height: 40px;
}

.profile_name{
	font-weight: bold;
}

.websiteTitle{
	display: inline-block;
}

.organizer{
	padding: 20px;
}

.name-group{
	margin-top: 20px;
}

.footer-divider{
	margin-bottom: 40px;
}

.side-divide{
	margin-left: 20px;
}

.inline-form{
	display: inline-block;
}

.real-inline-form{
	display: inline;
}

.acceptFR{
	margin-right: 40px;
}

.friendsBlock{
	color: white;
}

.friendsBlock:link{
	text-decoration: none;
}

.friendsBlock:visited{
	text-decoration: none;
}

.friendsBlock:hover{
	text-decoration: none;
	color: white;
}

.friendsBlock:active{
	text-decoration: none;
}

.friendsName{
	display: inline-block;
	margin-left: 20px;
}

.removeFriendBtn{
	width: 100%;
}

.inline-block{
	display: inline-block;
	vertical-align: middle;
}

.post-title-name{
	margin-left: 20px;
	font-weight: bold;
	margin-bottom: 2px !important;
}

.post-title-username{
	margin-left: 20px;
}

.post-comment-username{
	font-weight: bold;
}

.post-comment-date{
	font-size: 85% !important;
	opacity: .6;
}

.post-title-date{
	display: inline-block;
	vertical-align: middle;
}

.statusInput{
	resize: none;
}

.post-comment{
	width: 100%;
}

.post-icon{
	font-size: 125%;
	margin-right: 20px;
}

.post-icon:hover{
    text-shadow: 0px 0px 2px #666;
    cursor: pointer;
}

.friendProfileIcon{
	margin-right: 10px;
}

.post-comments{
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 200px;
	overflow: auto;
}

.invisible-button{
	background: transparent;
	border: none !important;
}

#statusForm{
	margin-bottom: 15px;
}

#myCarousel{
	position: absolute !important;
	height: 100%;
	width: 100%;
}

.item{
	position: fixed !important;
	height: 100%;
	width: 100%;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.car-image{
	min-height: 100% !important;
	width: auto !important;
}

.car-control{
	position: fixed !important;
	height: 100%;
}

#welcome-pic1{
	background-image: url("../background_imgs/frog.jpg");
}

#welcome-pic2{
	background-image: url("../background_imgs/balloon.jpg");
}

#welcome-pic3{
	background-image: url("../background_imgs/flower.jpg");
}

#welcome-dots{
	position: fixed;
	bottom: 10px;
}

.welcome-quote{
	position: fixed;
	display: inline-block;
	font-family: kilogram;
	top: 10%;
	left: 15%;
	width: 70%;
	text-align: center;
	color: white;
}

.website-title{
	font-family: kilogram;
	font-size: 250% !important;
}

.welcomeBtn{
	margin-left: 50px;
	margin-top: 10px;
	margin-right: 50px;
}

.joinBtnContainer{
	position: fixed;
	left: 0%;
	width: 100%;
	bottom: 10%;
	z-index: 2;
	text-align: center;
}
