body{
	background-color: 
}

.profile_pic{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.list_pic{
	border-radius: 50%;
	height: 40px;
}

.profile_name{
	font-weight: bold;
}

.websiteTitle{
	display: inline-block;
}

.organizer{
	padding: 20px;
}

.name-group{
	margin-top: 20px;
}

.footer-divider{
	margin-bottom: 40px;
}

.side-divide{
	margin-left: 20px;
}

.inline-form{
	display: inline-block;
}

.real-inline-form{
	display: inline;
}

.acceptFR{
	margin-right: 40px;
}

.friendsBlock{
	color: white;
}

.friendsBlock:link{
	text-decoration: none;
}

.friendsBlock:visited{
	text-decoration: none;
}

.friendsBlock:hover{
	text-decoration: none;
	color: white;
}

.friendsBlock:active{
	text-decoration: none;
}

.friendsName{
	display: inline-block;
	margin-left: 20px;
}

.removeFriendBtn{
	width: 100%;
}

.inline-block{
	display: inline-block;
	vertical-align: middle;
}

.post-title-name{
	margin-left: 20px;
	font-weight: bold;
	margin-bottom: 2px !important;
}

.post-title-username{
	margin-left: 20px;
}

.post-title-date{
	display: inline-block;
	vertical-align: middle;
}

.statusInput{
	resize: none;
}
